* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/backgroundImg.jpg);
    background-repeat: no-repeat;
}

header {
    max-width: 90%;
    border: 1px solid red;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.titulo-principal {
    color: white;
}

.nav-list {
    border: 1px solid darkblue;
    display: flex;
    margin: 30px;
}

.nav-list li {
    list-style: none;
}

.nav-list li a {
    text-decoration: none;
    padding: 30px;
    color: white;
}





